<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>SRetrieve</display-name>
    <servlet-name>SRetrieve</servlet-name>
    <servlet-class>com.jdbc.SRetrieve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SRetrieve</servlet-name>
    <url-pattern>/SRetrieve</url-pattern>
  </servlet-mapping>
  <display-name>DCpET</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SRetrieveUsers</display-name>
    <servlet-name>SRetrieveUsers</servlet-name>
    <servlet-class>com.jdbc.SRetrieveUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SRetrieveUsers</servlet-name>
    <url-pattern>/SRetrieveUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.jdbc.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SRegisterUser</display-name>
    <servlet-name>SRegisterUser</servlet-name>
    <servlet-class>com.jdbc.SRegisterUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SRegisterUser</servlet-name>
    <url-pattern>/SRegisterUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SSignIn</display-name>
    <servlet-name>SSignIn</servlet-name>
    <servlet-class>com.jdbc.SSignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SSignIn</servlet-name>
    <url-pattern>/SSignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SSignOut</display-name>
    <servlet-name>SSignOut</servlet-name>
    <servlet-class>com.jdbc.SSignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SSignOut</servlet-name>
    <url-pattern>/SSignOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SCreateApplication</display-name>
    <servlet-name>SCreateApplication</servlet-name>
    <servlet-class>com.jdbc.SCreateApplication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SCreateApplication</servlet-name>
    <url-pattern>/SCreateApplication</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SCreateLeave</display-name>
    <servlet-name>SCreateLeave</servlet-name>
    <servlet-class>com.jdbc.SCreateLeave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SCreateLeave</servlet-name>
    <url-pattern>/SCreateLeave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SCreateLeave2</display-name>
    <servlet-name>SCreateLeave2</servlet-name>
    <servlet-class>com.jdbc.SCreateLeave2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SCreateLeave2</servlet-name>
    <url-pattern>/SCreateLeave2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SDeleteLeave</display-name>
    <servlet-name>SDeleteLeave</servlet-name>
    <servlet-class>com.jdbc.SDeleteLeave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SDeleteLeave</servlet-name>
    <url-pattern>/SDeleteLeave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SEditLeave</display-name>
    <servlet-name>SEditLeave</servlet-name>
    <servlet-class>com.jdbc.SEditLeave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SEditLeave</servlet-name>
    <url-pattern>/SEditLeave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SEditLeave2</display-name>
    <servlet-name>SEditLeave2</servlet-name>
    <servlet-class>com.jdbc.SEditLeave2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SEditLeave2</servlet-name>
    <url-pattern>/SEditLeave2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>STest</display-name>
    <servlet-name>STest</servlet-name>
    <servlet-class>com.jdbc.STest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>STest</servlet-name>
    <url-pattern>/STest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SApproveLeave</display-name>
    <servlet-name>SApproveLeave</servlet-name>
    <servlet-class>com.jdbc.SApproveLeave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SApproveLeave</servlet-name>
    <url-pattern>/SApproveLeave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SDeclineLeave</display-name>
    <servlet-name>SDeclineLeave</servlet-name>
    <servlet-class>com.jdbc.SDeclineLeave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SDeclineLeave</servlet-name>
    <url-pattern>/SDeclineLeave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SAddAdmin</display-name>
    <servlet-name>SAddAdmin</servlet-name>
    <servlet-class>com.jdbc.SAddAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SAddAdmin</servlet-name>
    <url-pattern>/SAddAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SRemoveAdmin</display-name>
    <servlet-name>SRemoveAdmin</servlet-name>
    <servlet-class>com.jdbc.SRemoveAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SRemoveAdmin</servlet-name>
    <url-pattern>/SRemoveAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>STestdate</display-name>
    <servlet-name>STestdate</servlet-name>
    <servlet-class>com.jdbc.STestdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>STestdate</servlet-name>
    <url-pattern>/STestdate</url-pattern>
  </servlet-mapping>
</web-app>